/* src/components/AdminNavbar.css */

.admin-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 72px;

    background: var(--card-bg);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 32px;

    border-bottom: 1px solid var(--border-color);

    z-index: 100;
}

.admin-navbar-left {
    display: flex;
    gap: 12px;
    align-items: center;
}

.admin-navbar-left h2 {
    font-size: 16px;
    margin: 0;
    color: var(--text-main);
}

.admin-navbar-actions {
    display: flex;
    gap: 12px;
}

.admin-navbar button {
    border: none;
    background: var(--card-soft);
    color: var(--text-main);

    height: 40px;

    padding: 0 16px;

    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 8px;

    cursor: pointer;
}